body {
    background: #ebebeb;
    background: -moz-linear-gradient(left, #ebebeb 0%, #ffffff 50%, #ebebeb 100%);
    background: -webkit-linear-gradient(left, #ebebeb 0%, #ffffff 50%, #ebebeb 100%);
    background: -o-linear-gradient(left, #ebebeb 0%, #ffffff 50%, #ebebeb 100%);
    background: -ms-linear-gradient(left, #ebebeb 0%, #ffffff 50%, #ebebeb 100%);
    background: linear-gradient(to right, #ebebeb 0%, #ffffff 50%, #ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ebebeb', GradientType=1 );
}

div {
    padding:0;
    margin:0;
}

.calculator-body {
    width:250px;
    background-color: #241500;
    padding:10px;
    margin:auto;
}

.row {
    margin:0;
}

#display {
    font-family: 'Lato', sans-serif;
    text-align: right;
    background-color: #6a6969;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 2px 4px;
    color:#ffffff;
    height:20px;
}

.button-container{
    padding:2px;
}

.btn {
    width:100%;
    height:40px;
}

.btn-normal {
    width:25%;
    float:left;
}

.btn-test {
    width:25%;

}

.btn-special {
    float:right;
}

.btn-wide {
    width:50%;
    float:left;
}

.btn-double {
    height:84px;
}

.btn-double:after {
    clear:both;
}

.button-container:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
